<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> Edit</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/Products/<%= product._id %>?_method=PUT" method="post">
       <label for="prod_name">Name :
        <input type="text" name="name" placeholder="product name" id="prod_name" value="<%= product.name  %>">
       </label>
       
       <br>

       <label for="prod_price">
        Price : 
        <input type="number" name="price" placeholder="product price" id="prod_price" value="<%= product.price %>">
       </label>

       <br>

       <label for="prod_cat">
        Category :
        <select name="category" id="prod_cat">
            <% for( category of categories ) { %>
                <option value="<%= category %>" <%= product.category === category?'SELECTED':'' %>><%= category %></option>
            <% } %>
           </select>
       </label>
       <button type="submit">Submit</button>
    </form>
    <a href="/Products/<%= product._id %>">Cancel</a>
</body>
</html>